@import '../sass/mixins';
@import '../sass/variables';


.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  height: 100vh;
  @include fadeInAnimation();
  .about-info{
    width: 50%;
    img{
      width: 100%;
      transition: all .2s linear;
      &:hover{
        filter:invert(75%);
        // filter:blur(5px);
      }
    }
  }
}
@include fadein();
