// Headers
$h1-font-size: 15px;

//Paragraph
$p-font-size: 13px;

//Spacing
$left-spacing: 125px;
$top-spacing: 165px;
$content-top-spacing: 35px;


//Z-index
$z-index-burger: 15;
$z-index-mobile-menu-container: 10;
$z-index-mobile-menu-full: 14;
$z-index-puzzle-piece: 15;
