@import '../sass/mixins';
@import '../sass/variables';

.home-images{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
  @include fadeInAnimation();
  img{
    width: 50%;
    margin-bottom: 100px;
    transition: all .4s linear;
    // filter:blur(10px);
    &:hover{
      filter:blur(10px);
      // box-shadow: 8px 4px 4px rgba(0,0,0,.5);
    }
  }
}

@include fadein();
